<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name></display-name>
  <servlet>
    <servlet-name>AddSalaryServlet</servlet-name>
    <servlet-class>com.oop.servlet.AddSalaryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateSalaryServlet</servlet-name>
    <servlet-class>com.oop.servlet.UpdateSalaryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteSalaryServlet</servlet-name>
    <servlet-class>com.oop.servlet.DeleteSalaryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetSalaryServlet</servlet-name>
    <servlet-class>com.oop.servlet.GetSalaryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListSalaryServlet</servlet-name>
    <servlet-class>com.oop.servlet.ListSalaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSalaryServlet</servlet-name>
    <url-pattern>/AddSalaryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateSalaryServlet</servlet-name>
    <url-pattern>/UpdateSalaryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteSalaryServlet</servlet-name>
    <url-pattern>/DeleteSalaryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetSalaryServlet</servlet-name>
    <url-pattern>/GetSalaryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListSalaryServlet</servlet-name>
    <url-pattern>/ListSalaryServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>homeView.html</welcome-file>
    <welcome-file>homeView.htm</welcome-file>
    <welcome-file>homeView.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>